<div mat-dialog-content>
  <div class="container">
    <div class="close">
      <button
        mat-mini-fab
        aria-label="Close"
        (click)="onNoClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <p>Enter your message, please:</p>
  <form class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        mat-button
        [mat-dialog-close]=""
        cdkFocusInitial>
        Ok
      </button>
    </div>
  </form>
</div>
