<div mat-dialog-content>
  <div class="container">
    <div class="close">
      <button
        mat-mini-fab
        aria-label="Close"
        (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <p>Enter your message, please:</p>
  <form
    class="form"
    [formGroup]="messageForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name" />
      <mat-error *ngIf="messageForm.controls['name'].hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Text</mat-label>
      <textarea
        matInput
        formControlName="text"></textarea>
      <mat-error *ngIf="messageForm.controls['text'].hasError('required')">
        Message text is required
      </mat-error>
      <mat-error *ngIf="messageForm.controls['text'].hasError('maxlength')">
        Max length 100 symbols
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        mat-button
        type="submit"
        [disabled]="!messageForm.valid"
        (click)="onSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>
