.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.close {
  margin-left: auto;
  width: fit-content;
}
.mat-mdc-mini-fab {
  background-color: #d7d5d5;
}
.mat-mdc-button:not(:disabled) {
  display: block;
  width: 130px;
  background-color: #ff7f50;
}
