.backdrop {
  background-color: rgba(0, 0, 0, 0.446);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #ff7f50;
}
